
.services__button {
    font-family: 'Montserrat';
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 186px;
    margin-right: 80px;
    background: #00094A;
    border-radius: 3px;
    padding: 14px 36px;
    position: absolute;
    left: 1300px;
    top: 1480px;
}
.services__decs {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #00094A;
    width: 96px;
}
.services__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    color: #00094A;
    width: 695px;
}
.services__text {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #00094A;
    opacity: 0.8;
    width: 739px;
    margin-bottom: 50px;
}
