// WE-OFFER
.offer__decs {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #00094A;
    width: 106px;
}
.offer__main {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    color: #00094A;
    width: 376px;
}

.offer__list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 80px;
}
.offer__item + .offer__item {
    margin-left: 30px;
}
.offer__item {
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    box-shadow: 0px 0px 0px 3px rgba(7, 50, 90, 0.1);
    padding: 60px 25px;
}
.offer_link {
margin: 0;
padding: 0;
text-decoration: none;
}
.offer__img {
align-items: center;
margin-left: 70px;
}
.offer__heading {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    color: #00094A;
    margin-left: 20px;
}
.offer__text {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #00094A;
    opacity: 0.6;
}
.offer__one {
width: 184px;
margin-left: 30px;
}
.offer__two {
    width: 229px;
}
.offer__three {
    width: 116px;
    margin-left: 60px;
}
.offer__four {
    width: 249px;
}
.offer__five {
    width: 138px;
    margin-left: 60px;
}
.offer__six {
width: 249px;
}
.offer__seven {
width: 180px;
margin-left: 30px;
}
.offer__eight {
    width: 249px;
}